//
//
////.button-menu{
////  color: #010334;
////}
////#main {
////  background-color: rgb(24, 24, 16);
////  color: rgba(228, 220, 173, 0.79);
////  align-content: center;
////  padding: 5%
////
////}
//.mat-typography{
//  background-color: #141e27;
//}
//.geral{
//  background-color: #141e27;
//}
//.menuComponent{
//  background-color: #141e27;
//  width: 100%;
//  height: 15vh;
//  color: white;
//}
//button{
//  width: 10vw;
//}
//.listagem{
//  background-color: #141e27;
//  margin-top: 10vh;
//
//}
//.listagemMedicos{
//  background-color: #203239;
//  height: auto;
//}
//mat-card{
//  color: white;
//  background-color: #203239;
//
//}
//.containerMedico{
//  height: 100vh
//}
//


*{
  background-color: #141e27;

}
.menuComponent{
  background-color: #141e27;
  width: 100%;
  height: 15vh;
  color: white;
}
button{
  width: 10vw;
}
.listagem{
  background-color: #141e27;
  margin-top: 10vh;

}
.listagemAssistencia{
  background-color: #203239;
  height: auto;
}
mat-card{
  color: white;
  background-color: #203239;

}
.containerMedico{
  height: 100vh
}


